extends ../layouts/default

block content

  section.container.donate

    .story

      h1 Support Us

      p Marin City Community Services District is a 501(c)(3) nonprofit organization who is devoted to making a difference in the community. We provide the highest quality programs that benefit all residents in our city and surrounding areas.
  
      p We are asking for a little help for the town's most vulnerable inhabitants, to assist local community development organizations revitalize Marin City's neighborhoods. The smallest of donations makes a world of difference, and we are eternally grateful for the support we have gotten over the years.

      p For the past (number) years, MCCSD has been working (or, if appropriate, working in partnership) with key local partners to assist local community development organizations revitalize Marin City's neighborhoods.

      p We ask that you consider supporting our cause. This year our campaign's goal is $$$$. Funds from the campaign will be used to expand and enhance our existing programs.
  
      p Your donation will be acknowledged in several ways. We will list you in our annual program book as well as on any promotional materials we produce. Organization relies on support of generous donors such as you. Your donation will help ensure the success of our future.
  
      p We thank you for your consideration of our request, and look forward to hearing from you in the near future.

      .donate-cta
          p We welcome your donation.
          button(name="donate", type="button", role="button").btn.btn-primary Pay with PayPal
