extends ../layouts/default

block content

  section.container.governance

    .story

      h1 Agendas & Minutes

      p The Marin City Community Services District’s Board meetings are open to the public and are held on the first Thursday of each month in the Marguerita C. Johnson Senior Center, 640 Drake Avenue, Marin City, CA 94965. Regular meetings start at 6:30, but please view individual agendas to confirm the start time. Members of the public are encouraged to attend and participate. If you would like a copy of an older agenda/minutes than listed here, please contact MCCSD.