extends ../layouts/default

block content
	.container: .jumbotron
		h1 Support the Community

	.container: .welcome
		p Marin City is a small community located in Southern Marin County, CA adjacent to the Golden Gate National Recreation Area and just minutes away from the Golden Gate Bridge. Marin City is proud of its cultural, socioeconomic, religious, age, and ethnic diversity. MCCSD serves the Marin City community.

	.container.features

		.feature
			.disc
				img(src='images/disc-handshake.png', alt='Image of hands shaking')
			p If you are searching for a special and unique location to host your next event...

		.feature
			.disc
				img(src='images/disc-openhands.png', alt='Image of hands offering')
			p Currently, Marin City is the most diverse community in Marin County. There are approximately 4,000 residents of which approximately 40% are African-American, 33% are White, 10% are Hispanic, 8% are Asian/Pacific Islander, and 9% Other.

		.feature
			.disc
				img(src='images/disc-coinhand.png', alt='Image of hand with a coin')
			p Donate to MCCSD’s many programs that promote a healthy, safe, thriving, and environmentally conscious Marin City.
