// -------------------------------------------------------------------
// MCCSD Color Palette
// -------------------------------------------------------------------
$brand-primary:         #00ad94 !default; // green
$brand-secondary:       #E8834A !default; // orange

$vspacing:  $padding-base-vertical * 6;
$hspacing:  $padding-base-horizontal * 6;
